#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.1 rem;
  font-weight: bold;
}

.board {
  border: solid thin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3px;
  margin: 15px;
}

.card {
  height: 100px;
  width: 100px;
  margin: 6px;
  padding: 3px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 230, 230);
  cursor: pointer;

  /* animation-name: test; */
}



.selected {
  color: white;
  background-color: grey;
}

.button {
  margin: 5px;
  border: solid thin;
  border-radius: 20px;
}

.found-card {
  height: 100px;
  width: 454px;
  grid-column: 1 / span 4;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
  padding: 3px;
  border-radius: 10px;
}

.mistakes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.mistake-bubbles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 100px;
}

.mistake-bubble-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mistake-bubble {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 100%;
  margin: 0 5px 0 5px;
  transition: all 1s;
  padding: 0;
}

.mistake-bubble-disappear {
  height: 0px;
  width: 0px;
  /* background-color: black;
  border-radius: 100%;
  margin: 0 5px 0 5px; */
}